<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% include 'partials/stylesheet.html.twig' %}
    </head>
    <body>
        {% include 'partials/headNavbar.html.twig' %}
        {% block sideNav%}
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}{% include 'partials/scripts.html.twig' %}{% endblock %}
    </body>
</html>
