<div class="navbar-dashboard">
    <div class="row headNav-row">
        <div class="col-1">
            <a href="{{ path('home') }}">
                <div class="img">
                    <img class="small-logo" src="{{ asset('images/logo.png') }}" alt="">
                </div>
            </a>
        </div>
        <div class="col-2 offset-9">
            <div class="logout-icon">
                <a href="{{ path('app_logout') }}">
                    <i class="fa fa-sign-out icon icon-headNavbar"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</div>