
    <div id="mySidenav" class="sidenav">
        <a href="{{ path('werknemers.home') }}">Werknemers</a>
        <a href="{{ path('klanten.home') }}">Klanten</a>
        <a href="{{ path('period.home') }}">Periodes</a>
        <a href="{{ path('prestations.home') }}">Gepresteerde Uren</a>
    </div>