{% extends 'baseAdmin.html.twig' %}

{% block title %}'Error 404: Client not found'{% endblock %}

{% block body %}
    <div class="container container-home-dashboard">
        <div class="row">
            <div class="col-12">
                <h3 class="title">Klant niet gevonden!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>De Klant die je probeert te vinden kan niet worden gevonden!</p>
            </div>
        </div>
    </div>
{% endblock %}